<%= form_with(model: starship, local: true) do |form| %>
  <% if starship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(starship.errors.count, "error") %> prohibited this starship from being saved:</h2>

      <ul>
      <% starship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :starship_name %>
  </div>
  
  Crew Members:
  <ul>
    <%= form.fields_for :crew_members do |crew| %>
      <li>
        <%= crew.label :name %>
        <%= crew.text_field :name %>
        <%= crew.label :division %>
        <%= crew.select(:division, ["Command", "Engineering", "Science"]) %>
      </li>
    <% end %>
  </ul>
  Enter your email to receive the awesome stuff!
  <div class="field">
    <%= form.label :email %>
    <br>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
